/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  /* Cancel out some differences between browser defaults */
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

* {
  /* The width of an element will be the size of its border box, not its content box (which is the normal default). */
  box-sizing: border-box;
}
/* Form */
img {
  width: 100%;
  margin:auto;
}
header i{
  transition: 0.3s;
}
ul a ,
main a,
header a{
  text-decoration: none;
  transition: 0.3s;
}
ul li {
  list-style-type: none;
}

p {
  line-height: 1.5rem;
}
.emphasise_text{
  font-weight: bold;
  font-style: italic;
}
/* Font */
body, footer p{
  font-family: "Broadway";
}
p,
main table td,
.musician_content_div li,
#contact_us_form{
  font-family: "Myriad Pro";
}

h1 {
  font-family:  "Algerian", "Broadway";
  font-size: 3rem;
}
h2 {
  font-family: "Algerian", "Broadway";
  font-size: 2.2rem;
  text-shadow: 5px 5px 5px #000;
}
h3 {
  font-family: "Algerian", "Broadway";
  font-size: 2rem;
}
h4 {
  font-family: "Algerian", "Broadway";
  font-size: 1.5rem;
}
h5 {
  font-family: "Myriad Pro";
  font-size: 1.2rem;
}
#main_news_div h5{
  font-family:  "Algerian", "Broadway";
}
main h5{
  font-weight: bold;
}

nav {
  font-size: 1.2rem;
}
header h1, main h2 {
  text-align: center;
}
.musician_name{
  font-weight: bold;
  font-size:1.7em;
}
table th{
  font-size: 1.2em;
}
#musician_name{
  font-size: 2.5rem;
}
/*Layout*/
.flex,
nav ul,
footer ul,
#main_content_div,
.musician_content_div > div,
#musician_background_wrapper{
  display: flex;
  align-items: center;
}
main p:not(:last-child) {
  margin-bottom: 0.5em;
}

header {
  padding: 5px 0;
}

nav {
  padding: 5px 0;
  position: sticky;
  white-space: nowrap;
  top:0;
}
nav ul {
  justify-content: space-around;
  text-transform: uppercase;
}
nav li {
  margin: 0 20px;
}
#menuIcon{
  display: none;
}

.content_wrapper {
  width: 80%;
  margin: auto;
}

main {
  border-left: 7px solid rgba(37, 39, 77, 0.8);
  border-right: 7px solid rgba(37, 39, 77, 0.8);
  padding: 0px 20px 10px 20px;
  align-items: center;
}

main > div {
  margin-bottom: 10px;
}
main h2{
  padding: 10px;
}

.musician_content_div >div{
  align-items: flex-start;
}

#mainpage_welcome_FIG{
  margin: auto auto 10px auto;
}
#main_inner_wrapper{
  margin: auto;
}

#main_introduction_div{
  margin: auto;
  padding: 5px 15px;
  border-radius: 7px
}

#main_news_div{
  width: 40%;
  margin-left: 15px;
  padding: 5px 15px 15px;
  align-self: flex-start;
  border-radius: 7px
}

#main_table_div{
  width: 95%;
  margin: auto;
}
main table,table td, table th{
  border: 2px solid white;
  border-collapse: collapse;
}
#musician_background_wrapper table,
#musician_background_wrapper table *,
#about_us_table,
#about_us_table * {
  border: none;
}

table th{
  padding: 5px 10px;
}

table td{
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

.portrait_link img{
  margin: 5px 0;
  width:15%;
}
 .album_cover_td{
  width:15%;
  padding: 10px;
}
.length_td li{
  list-style: none;
  text-align: center;
}

#musician_name {
  width: 70%;
  margin-right: 10px;
  align-self: center;
}
#musician_pic_fig{
  width: 30%;
  border-radius: 7px;
  padding: 8px;
  text-align: center;
  align-self: center;
}

#musician_background_wrapper {
  align-items: flex-start;
  border-radius: 7px;
  padding: 8px;
}
#musician_background_wrapper table{
  margin: 0 10px;
}
#musician_background_wrapper table *,
#about_us_table *{
  vertical-align: text-top;
  text-align: left;
}

#musician_discription_div {
  max-width: 75%;
  border-radius: 7px;
  margin-top: 10px;
  padding: 8px;
}
#musician_discription_div img{
  width: 30%;
  float: right;
  margin: 10px 0 10px 10px;
}
#musician_discription_div img:nth-child(even){
  width: 35%;
  float: left;
  margin: 10px 10px 10px 0 ;
}

#musician_discography_wrapper{
  /* width: 25%; */
  border-radius: 7px;
  margin: 10px 0 0 10px;
  padding: 0 8px;
  text-align: center;
  align-items: flex-start;
}

#musician_discography_wrapper figure{
  width: 90%;
  margin: auto auto 10px auto;
}
#contact_us_wrapper{
  display: flex;
  align-items: flex-start;
}
#contact_us_wrapper img{
  width: 40%;
}
#contact_us_form{
  width: 60%;
  margin: auto;
}

#contact_us_form > div{
  margin-top: 0.25em;
}

#textarea{
  height:20rem;
  width: 95%;
}

footer {
  padding: 10px;
}
footer img{
  width: 2.5rem;
}

footer div{
  padding: 0 20px;
}
footer li:not(:last-child){
  margin: 0  30px ;
}
footer li:last-child{
  margin: auto 20px auto auto;
}

/* Color */
body {
  color: #fff;
  background: url(../images/vynil_image.png) ;
  background-size: cover;
  background-color: rgba(37, 39, 77, 1);
  background-attachment: fixed;
}

#main_wrapper {
  background-color: rgba(170, 171, 187, 0.4);
}
ul a,footer a,header a,main a {
  color: rgba(255, 255, 255, 1);
}

header {
  background-color: rgba(37, 39, 77, 1);
}
header h1 {
  color: #ffffff;
  text-shadow: 5px 5px 5px #000;
}
nav {
  background-color: #25274d;
}
main {
  background-color: rgba(70, 72, 102, 0.9);
}
footer {
  background-color: #25274d;
}

#main_introduction_div,
#musician_discription_div,
#musician_background_wrapper {
  background-color: rgb(37, 39, 77);
}
#musician_pic_fig{
  background-color: rgb(46, 156, 202);
}

#main_news_div, 
#musician_discography_wrapper {
  background-color: rgb(41, 100, 138);

}

.selected, a:hover {
  color: #f7931e;
  text-shadow: 5px 5px 5px #000000;
}

@media screen and (max-width: 60rem) {
  /*Layout*/
  .content_wrapper{
    width: 100%;
  }  
  
  header .content_wrapper{
    display: flex;
    width:100%;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
  }
  header{
    position: sticky;
    top: 0;
  }
  #menuIcon{
    display: block;
  }

  nav{
    display: block;
    position: fixed;
    top: 4rem;
    right: 0;
    width:0;
    transition: 0.3s;
    overflow: hidden;
  }
  
  nav ul,
  .musician_content_div > div,
  #musician_background_wrapper,
  #musician_discription_div{
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }

  nav li{
    margin: 0 0.5em 0.25em 0.5em;
    font-size: 1.5rem;
  }
  #main_content_div, footer ul{
    flex-wrap: wrap;
  }

  #main_introduction_div{
    margin-bottom: 10px;
  }
  #main_news_div{
    width: 100% ;
    margin: auto;
  }
  #musician_pic_fig{
    width: 80%;
  }
  #musician_background_wrapper{
    align-self: center;
    align-items: center;
    order: 1;
    margin: auto auto 10px auto ;
  }
  #musician_background_wrapper table{
    margin: 10px;
  }
  #musician_discography_wrapper {
    width: 100%;
    order: 2;
    margin:auto;
  }
  #musician_discography_wrapper > div{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  #musician_discography_wrapper figure{
    max-width: 20rem; 
    padding:0 10px;
  }
  #musician_discription_div{
    order: 3;
  }
  #musician_discription_div img,
  #musician_discription_div img:nth-child(even){
    float: none;
    width: 80%;
    margin: 10px auto;
  }

  .portrait_link img{
    margin: 5px 0;
    width:35%;
  }
  
  #contact_us_form{
    width: 100%;
  }

  #contact_us_wrapper img{
    display: none;
  }

  footer .content_wrapper{
    width: 100%;
  }
  footer li:not(:last-child), footer footer li:last-child{
    margin: auto;
  }
}
